<h1 class="auth__title">Signup</h1>
<span class="auth__message" *ngIf="authLoading$ | async">Loading...</span>
<small
  class="auth__message error"
  *ngIf="signupError$ | async as errorMessage"
  >{{ errorMessage }}</small
>
<form class="form signup__form" [formGroup]="signupForm" (ngSubmit)="signup()">
  <div class="form__group">
    <label for="username">Username</label>
    <input
      type="text"
      placeholder="Enter a username"
      formControlName="username"
    />
    <ng-container *ngIf="signupSubmited">
      <small
        class="message error"
        *ngIf="signupFormControls.username.errors?.required"
        >Username is required</small
      >
    </ng-container>
  </div>
  <div class="form__group">
    <label for="email">Email</label>
    <input
      type="text"
      placeholder="Enter your email address"
      formControlName="email"
    />
    <ng-container *ngIf="signupSubmited">
      <small
        class="message error"
        *ngIf="signupFormControls.email.errors?.required"
        >Email is required</small
      >
      <small
        class="message error"
        *ngIf="
          signupFormControls.email.dirty &&
          signupFormControls.email.errors?.email
        "
        >Invalid email address</small
      >
    </ng-container>
  </div>
  <div class="form__group">
    <label for="password">Password</label>
    <input
      type="password"
      placeholder="Enter your password"
      formControlName="password"
    />
    <ng-container *ngIf="signupSubmited">
      <ul>
        <li
          class="message error"
          *ngIf="signupFormControls.password.errors?.required"
        >
          Passoword is required
        </li>
        <li
          class="message error"
          *ngIf="signupFormControls.password.errors?.requiredPattern?.hasDigit"
        >
          Shoul has on digit
        </li>
        <li
          class="message error"
          *ngIf="
            signupFormControls.password.errors?.requiredPattern
              ?.hasUpperCaseLetter
          "
        >
          Should has one uppercase letter
        </li>

        <li
          class="message error"
          *ngIf="signupFormControls.password.errors?.requiredPattern?.hasSymbol"
        >
          Should has one special character
        </li>
        <li
          class="message error"
          *ngIf="signupFormControls.password.errors?.requiredPattern?.minLength"
        >
          Min length is 8
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="form__group">
    <label for="password">Confirm Password</label>
    <input
      type="password"
      placeholder="Confirm your password"
      formControlName="passwordConfirmation"
    />
    <ng-container *ngIf="signupSubmited">
      <small
        class="message error"
        *ngIf="signupFormControls.passwordConfirmation.errors?.required"
      >
        You should confirm your password
      </small>
      <small class="message error" *ngIf="passwordConfirmationError">
        Not identical
      </small>
    </ng-container>
  </div>

  <!-- Login -->
  <a class="notice form__try__login" [routerLink]="['/login']"
    ><small>Login to an existing one?</small></a
  >

  <button class="btn brand__btn outline large signup__btn">Create</button>
</form>
