:host {
  .add__btn {
    display: block;
    border-color: green;
    color: green;
    margin-top: 20px;
    width: 100%;
  }

  .message {
    display: block;
    margin: 5px;
    &.success {
      color: green;
    }

    &.error {
      color: red;
    }
  }
}
