.contact {
  position: relative;
  top: 0;
  padding: 10px;
  min-height: 240px;
  background: rgb(63, 60, 70);
  transition: top 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 1px 2px 3px -1px black;
  color: rgb(199, 199, 199);

  &:hover {
    top: -2px;
  }

  .contact__head {
    display: flex;
    flex-flow: row;
    position: absolute;
    left: -5px;

    .contact__avatar__wrapper {
      display: inline-block;
      position: relative;
      margin: 10px auto 15px auto;
      --size: 40px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      overflow: hidden;
    }

    .contact__name {
      display: flex;
      flex-flow: column;
      left: -5px;
      span {
        align-self: flex-start;
        display: inline-block;
        padding: 2px 5px;
        background: #ff6600;
        color: white;
      }
    }
  }

  .contact__controls__wrapper {
    display: flex;
    justify-content: flex-end;

    i {
      display: block;
      margin: 0 0 0 10px;
      cursor: pointer;

      &.edit {
        color: #17bb17;
      }

      &.delete {
        color: #ff2222;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .contact__details__wrapper {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    bottom: 10px;
    font-size: 0.7rem;

    span {
      display: inline-block;
      margin-right: 7px;
    }

    label {
      margin-bottom: 5px;
    }
  }
}
