:host {
  display: flex;
  flex-flow: column nowrap;
  background: white;
  width: 70%;
  margin: auto;

  .contacts__controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6600;
    padding: 10px;
    width: 100%;
    border-radius: 0.5rem;

    .new__contact__btn {
      &:hover {
        background: #fd7d27;
      }

      &:active {
        background: #e95d00;
      }
    }

    .sort__list {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      color: white;
      button {
        border-radius: 5px;
        margin: 5px 2px;
        font-size: 0.7rem;
        background: rgb(221, 221, 221);
        cursor: pointer;
        &:hover {
          background: rgb(255, 255, 255);
        }

        &.active {
          background: rgb(63, 60, 70);
          color: white;
        }
      }
    }
  }

  .pagination__wrapper {
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    z-index: 1;
    user-select: none;

    .page__counter {
      position: relative;
      top: 5px;
      margin-right: 5px;
    }

    .pagination__btn {
      background: none;
      font-size: 1rem;
      min-width: 10px;



      &:hover > i {
        color: #ff6600;
      }

      &:active > i {
        color: #e95d00;
      }
    }
  }

  .contacts__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
    width: 100%;
    margin: 50px auto;
  }

  .message {
    display: block;
    margin: 5px;
    &.success {
      color: green;
    }

    &.error {
      color: red;
    }
  }

  .add__btn {
    display: block;
    border-color: green;
    color: green;
    margin-top: 20px;
    width: 100%;
  }
}
