<div class="contacts__controllers">
  <!-- Sort options -->
  <div class="sort__list">
    <small>Sort: </small>
    <button class="btn" (click)="sortBy = 'firstName'; sortContacts()" [ngClass]="{'active': sortBy == 'firstName'}">First Name</button>
    <button class="btn" (click)="sortBy = 'lastName'; sortContacts()"  [ngClass]="{'active': sortBy == 'lastName'}">Last Name</button>
  </div>
  <!-- Add new Contact -->
  <button class="btn brand__btn new__contact__btn" (click)="addContactModal.open()">
    <i class="icon ion-md-add edit"></i>
    Add new contact
  </button>
  <!-- Pagination -->
  <div class="pagination__wrapper">
    <button class="btn pagination__btn"><i class="icon ion-md-arrow-dropleft"></i></button>
    <button class="btn pagination__btn  "><i class="icon ion-md-arrow-dropright"></i></button>
  </div>
</div>
<div class="contacts__wrapper">
  <app-contact
    *ngFor="let contact of contacts$ | async"
    [contact]="contact"
  ></app-contact>
</div>

<ngx-smart-modal #addContactModal identifier="addContactModal">
  <h3>Add New Contact</h3>
  <form class="form new__contact__form" [formGroup]="addContactForm">
    <!-- First Name -->
    <div class="form__group">
      <label for="contact__firstName">firstName</label>
      <input
        type="text"
        name="edit_firstName"
        maxlength="30"
        placeholder="Enter your first name"
        formControlName="firstName"
      />
      <ng-container *ngIf="addContactSubmited">
        <small
          class="message error"
          *ngIf="addFormControls.firstName.errors?.required"
          >firstName is required</small
        >
        <small
          class="message error"
          *ngIf="addFormControls.firstName.errors?.pattern"
          >Only alphabets and spaces are allowed</small
        >
      </ng-container>
    </div>
    <!-- Last Name -->
    <div class="form__group">
      <label for="contact_lastName">lastName</label>
      <input
        type="text"
        name="edit_lastName"
        maxlength="30"
        placeholder="Enter your last name"
        formControlName="lastName"
      />
      <ng-container *ngIf="addContactSubmited">
        <small
          class="message error"
          *ngIf="addFormControls.lastName.errors?.required"
          >lastName is required</small
        >
        <small
          class="message error"
          *ngIf="addFormControls.lastName.errors?.pattern"
          >Only alphabets and spaces are allowed</small
        >
      </ng-container>
    </div>
    <!-- Email -->
    <div class="form__group">
      <label for="email">Email</label>
      <input
        type="text"
        name="edit_email"
        placeholder="Enter your email address"
        formControlName="email"
      />

      <ng-container *ngIf="addContactSubmited">
        <small
          class="message error"
          *ngIf="addFormControls.email.errors?.required"
          >Email is required</small
        >
        <small
          class="message error"
          *ngIf="
            addFormControls.email.dirty && addFormControls.email.errors?.email
          "
          >Invalid email address</small
        >
      </ng-container>
    </div>
    <!-- Phone -->
    <div class="form__group">
      <label for="contact_phone">Phone</label>
      <input
        type="text"
        name="edit_phone"
        placeholder="Enter your phone number"
        formControlName="phone"
      />
      <ng-container *ngIf="addContactSubmited">
        <small
          class="message error"
          *ngIf="addFormControls.phone.errors?.required"
          >Phone number is required</small
        >
        <small
          class="message error"
          *ngIf="
            addFormControls.phone.dirty && addFormControls.phone.errors?.pattern
          "
          >Invalid phone number</small
        >
      </ng-container>
    </div>
    <button class="btn brand__btn outline add__btn" (click)="addContact()">
      Add
    </button>
  </form>
</ngx-smart-modal>
