$color-overlay: rgba(32, 15, 9, 0.829);
@import "~ngx-smart-modal/ngx-smart-modal";
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;

  .container {
    padding: 0 20px;
  }

  .page__wrapper {
    margin-top: 100px;
  }

  a {
    text-decoration: none;
  }

  .brand__color {
    color: #ff6600;
  }

  .btn {
    outline: none;
    border: none;
    background: white;
    padding: 5px 10px;
    user-select: none;
    cursor: pointer;
  }

  .brand__btn {
    background: none;
    color: white;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;

    &.outline {
      background: none;
      border-radius: 0.2rem;
      border: 1px solid #ffffff;

      &:hover {
        background: none;
        color: #ff6600;
        border: 1px solid #ff6600;
      }

      &:active {
        background: none;
        color: #c95000;
        border: 1px solid #c95000;
      }
    }

    &.large {
      font-size: 1.2rem;
    }

    &:hover {
      background: #ff6600;
      border-radius: 0.2rem;
    }

    &:active {
      background: #c95000;
      border-radius: 0.2rem;
    }
  }

  .form {
    // background: green;
    min-width: 300px;
    .form__group {
      display: flex;
      flex-flow: column wrap;
      margin-bottom: 0.5rem;

      input {
        padding: 7px;
        border: none;
        border-radius: 0.2rem;
        margin: 5px 0;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .brand__btn__active {
    background: #ff6600;
  }

  .notice {
    color: rgb(211, 211, 211);
    font-size: 0.8rem;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .message {
    display: block;
    margin: 5px 0;
    font-size: 0.7rem;
    &.success {
      color: green;
    }

    &.error {
      color: lightcoral;
    }
  }

  .ng-valid.ng-dirty:not(form) {
    border: solid 1px lightgreen;
  }

  .ng-invalid.ng-dirty:not(form),
  .ng-invalid:not(form).form-submitted {
    border: solid 1px lightcoral;
  }
}
