:host {
    .unverified__message {
        display: block;
        position: sticky;
        top: 0;
        background: rgb(0, 156, 65);
        color: white;
        text-align: center;
        font-size: 0.8rem;
        padding: 2px 0;
    }
}