<!-- Logo -->
<img
  class="site__logo"
  src="../../../../assets/imgs/logo.png"
  alt="orange-logo"
/>

<!-- Auth buttons -->
<div class="site__auth__btns_wrapper">
  <button
    class="btn brand__btn"
    [routerLink]="['/login']"
    routerLinkActive="brand__btn__active"
  >
    Login 
  </button>
  <span> | </span>
  <button
    class="btn brand__btn"
    [routerLink]="['/signup']"
    routerLinkActive="brand__btn__active"
  >
    Signup
  </button>
</div>
<!-- SlideShow -->
<slide-show>
  <ng-container *ngFor="let slide of slides">
    <slider-item *slideBlueprint [slide]="slide"></slider-item>
  </ng-container>
</slide-show>
<div class="site__login__wrapper">
  <app-login-form title="welcome"></app-login-form>
</div>
